html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none !important;
  color: #0b093b;
}
a:hover {
  color: #855df5;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset; /* Change the color to your own background color */
  box-shadow: transparent;
  -webkit-text-fill-color: #fff;
}
body {
  background: #fff;
  color: #0b093b;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 600;
  font-family: "Khula", sans-serif;
}
.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 30px;
}
@media only screen and (max-width: 859px) {
  .container {
    padding: 0 15px;
  }
}
.regular {
  font-weight: 400 !important;
}
.semiBold {
  font-weight: 600 !important;
}
.extraBold {
  font-weight: 800 !important;
}

/* HELLPERS */
.textCenter {
  text-align: center;
}
.animate {
  transition: 0.3s ease;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.x100 {
  width: 100%;
}
.active {
  border-bottom: 2px solid #855df5;
  color: #855df5;
}
.tag {
  padding: 5px 10px;
  margin: 10px 0;
}
.shadow {
  box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
  -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
  -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
}
/* FLEXBOX */
.flex {
  display: flex;
}
.flexSpaceCenter {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.flexNullCenter {
  display: flex;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpaceNull {
  display: flex;
  justify-content: space-between;
}

/* FONT SIZES */
.font11 {
  font-size: 0.688rem !important;
}
.font12 {
  font-size: 0.75rem !important;
}
.font13 {
  font-size: 0.813rem !important;
}
.font14 {
  font-size: 0.875rem !important;
}
.font15 {
  font-size: 0.938rem !important;
}
.font18 {
  font-size: 1.125rem !important;
}
.font20 {
  font-size: 1.25rem !important;
}
.font25 {
  font-size: 1.563rem !important;
}
.font30 {
  font-size: 1.875rem !important;
}
.font40 {
  font-size: 2.5rem !important;
}
.font60 {
  font-size: 3.75rem !important;
  line-height: 4.5rem !important;
}
.pd20 {
  padding: 20px 0;
}
@media only screen and (max-width: 859px) {
  /* footer
    ------------------------------------------------------------------------ */

  /* copyright */
  footer .copyright li:before {
    content: none;
  }
  footer .copyright li {
    margin-right: 12px;
  }

  /* social links */
  footer .social-links {
    font-size: 22px;
  }
  footer .social-links li {
    margin-left: 18px;
  }

  /* Go To Top Button */
  #go-top {
    margin-left: -22px;
  }
  #go-top a {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
  }

  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.688rem;
  }
  .font13 {
    font-size: 0.75rem;
  }
  .font14 {
    font-size: 0.813rem;
  }
  .font15 {
    font-size: 0.813rem;
  }
  .font18 {
    font-size: 0.938rem;
  }
  .font20 {
    font-size: 1.125rem;
  }
  .font25 {
    font-size: 1.25rem;
  }
  .font30 {
    font-size: 1.5rem;
  }
  .font40 {
    font-size: 1.875rem;
  }
  .font60 {
    font-size: 2.8rem;
  }
}
/* BORDER RADIUS */
.radius8 {
  border-radius: 1rem;
}
.radius6 {
  border-radius: 0.6rem;
}
/* COLORS */
.darkColor {
  color: #0b093b;
}
.purpleColor {
  color: #7620ff;
}
.orangeColor {
  color: #f2b300;
}
.lightColor {
  color: #f5f5f5;
}
.coralColor {
  color: #c4ffff;
}
.greenColor {
  color: #49cb86;
}
.greyColor {
  color: #707070;
}
.whiteColor {
  color: #fff;
}
/* BACKGROUNDS AND THEMES*/
.darkTheme {
  background-color: #282b2e;
  color: white;
  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}
.darkSecondaryTheme {
  background-color: #35393d;
  color: white;
  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}
.lightTheme {
  background-color: #f5f5f5;

  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}

.lightWhiteTheme {
  background-color: #fff;

  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}
.darkFooterTheme {
  background-color: #1a6ebf;

  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}
.darkNavTheme {
  background-color: #1d1e1f;
  color: white;
  transition: background-color 0.1s ease, color 0.1s ease; /* Agrega transiciones a los estilos */
  transition-delay: 0.2s; /* Retraso de 0.5 segundos */
}

.darkBg {
  background-color: #0b093b;
}
.purpleBg {
  background-color: #7620ff;
}
.orangeBg {
  background-color: #f2b300;
}
.lightBg {
  background-color: #f5f5f5;
}
.coralBg {
  background-color: #c4ffff;
}
.greenBg {
  background-color: #49cb86;
}
.greyBg {
  background-color: #707070;
}
.whiteBg {
  background-color: #fff;
}
.lightBlueBg {
  background-color: #50a1fc;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */
.row {
  width: 96% !important;
  max-width: 1020px !important;
  margin: 0 auto !important;
}
.row .twelve {
  width: 100%;
}

footer {
  padding-top: 48px;

  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
  background: #0f0f0f;
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #f06000;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffd43a;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: #0f9095;
}

.social .btn:first-child {
  margin-right: 30px;
}
.social .btn {
  padding-left: 30px;
  padding-right: 30px;
}
.social .btn i {
  margin-right: 15px;
}
.project-btn {
  background-color: #1abc9c !important;
}
.github-btn {
  background-color: #34495e !important;
}

/* footer
   ------------------------------------------------------------------------ */

/* copyright */
footer .copyright li:before {
  content: none;
}
footer .copyright li {
  margin-right: 12px;
}

/* social links */
footer .social-links {
  font-size: 22px;
}
footer .social-links li {
  margin-left: 18px;
}

/* Go To Top Button */
#go-top {
  margin-left: -22px;
}
#go-top a {
  width: 54px;
  height: 54px;
  font-size: 18px;
  line-height: 54px;
}

/* styles for div loader center*/
.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* styles for loeader spinner*/
.spinner {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.spinner span {
  font-size: 2rem;
  animation: fade 1s linear 0s infinite;
  padding-right: 1rem;
}

.half-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite, changeColor 4.5s linear 0s infinite;
}

@keyframes bigger {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeColor {
  0% {
    border-top: 3px solid #ff5955;
  }
  33% {
    border-top: 3px solid #855df3; /* Cambiar al primer color deseado */
  }
  66% {
    border-top: 3px solid #ffd33e; /* Cambiar al segundo color deseado */
  }
  100% {
    border-top: 3px solid #f28ea1; /* Cambiar al tercer color deseado */
  }
}

/* header animations css */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-from-fight {
  animation: slideInFromRight 1s ease;
}

/* project box animation*/

.project-box {
  opacity: 0; /* Los elementos estarán ocultos inicialmente */
  transform: translateY(
    20px
  ); /* Empiezan 20px más abajo para simular el efecto de deslizamiento hacia arriba */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Establecemos la duración y la función de la transición */
}

.d-flex {
  display: flex;
}
.overflow-auto {
  overflow: auto;
}

/**Blog layout css*/
.containerLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". bodyLayout ."
    ". bodyLayout leftLayout"
    ". bodyLayout leftLayout";
}

.bodyLayout {
  grid-area: bodyLayout;
  background-color: red;
}

.leftLayout {
  grid-area: leftLayout;
  background-color: #095153;
}

.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "headerL headerL headerL" auto
    "leftSideL bodyL rightSideL" 1fr
    "footerL footerL footerL" auto
    / auto 1fr auto;
  gap: 8px;
}

.headerL {
  grid-area: headerL;
}
.leftSideL {
  grid-area: leftSideL;
}
.bodyL {
  grid-area: bodyL;
}
.rightSideL {
  grid-area: rightSideL;
}
.footerL {
  grid-area: footerL;
}

/* actives classes*/
.activeHome {
  border-bottom: 2px solid #fec07b;
  color: #fec07b;
}
.activeService {
  border-bottom: 2px solid #6fcc7c;
  color: #6fcc7c;
}
.activeProject {
  border-bottom: 2px solid #adb5bb;
  color: #adb5bb;
}
.activeNew {
  border-bottom: 2px solid #4262e3;
  color: #4262e3;
}
.activeGallery {
  border-bottom: 2px solid #d63c31;
  color: #d63c31;
}
.activeFaq {
  border-bottom: 2px solid #fec07b;
  color: #fec07b;
}
.activeContact {
  border-bottom: 2px solid #6fcc7c;
  color: #6fcc7c;
}
/*Espefict hover for each a element*/
.hoverHome a:hover {
  color: #fec07b;
}
.hoverService a:hover {
  color: #6fcc7c;
}
.hoverProject a:hover {
  color: #adb5bb;
}
.hoverNew a:hover {
  color: #4262e3;
}
.hoverGallery a:hover {
  color: #d63c31;
}
.hoverFaq a:hover {
  color: #fec07b;
}
.hoverContact a:hover {
  color: #6fcc7c;
}

/*shadow color*/
::-moz-selection {
  background: #fec07b;
  color: #212121;
  text-shadow: none;
}
::-webkit-selection {
  background: #fec07b;
  color: #212121;
  text-shadow: none;
}
::selection {
  background: #fec07b;
  color: #212121;
  text-shadow: none;
}
/** Custom weather and new footer*/
